.notFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.notFoundTitle {
    color: tomato;
    font-size: 3rem;
    margin: 0;
}

.notFoundText {
    font-size: 1.2rem;
    color: #666;
    margin: 10px 0;
}

.notFoundButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}